

.App {
  text-align: center;
  Font-family: Consolas, monospace;
 
  height: 100vh;
}

body{
 
  background-image: url(https://res.cloudinary.com/josepcortes/image/upload/v1713223284/rambla-de-badal_rq7vo1.jpg);
  background-size: cover;
}
h1{
  margin-top: 25px;
  padding-top: 15px;
  color:white;
  font-size: 65px;
}

/*estilos generales de las tareas*/
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
}

.task-container {
  width: 500px;
  align-items: center;
  flex-wrap: wrap;
  border: 5px solid #0c0c0c;
  border-radius: 7%;
  background: rgb(36, 35, 35);
  margin-left: 150px; /* Espacio entre los contenedores */
}

.create-container {
  width: 350px;
  align-items: center;
  flex-wrap: wrap;
  border: 5px solid #0c0c0c;
  border-radius: 7%;
  background: rgb(36, 35, 35);
  margin-right: 150px; /* Espacio entre los contenedores */
}



.item{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-right: 15px;
  margin-bottom: 15px;
  text-decoration: none;
}

.item h4{
  font-size:25px;
  font-weight: bold;
  margin-right: 15px;
  Font-family: Consolas, monospace;
  text-decoration: none;
  color:beige;
  border-radius: 15%;
  
}


.item p {
  margin: 0 auto;
  text-align: center;
  font-size:20px;
  Font-family: Consolas, monospace;
  text-decoration: none;
  color:beige;
  border-radius: 15%;
  
}

.item button {
  background-color: #ff6f61;
  color: white;
  border: none;
  margin-right: 40px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.item button:hover {
  background-color: #32d13a;
}

/*Formulario tareas*/


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

form label {
  font-size: 20px;
  Font-family: Consolas, monospace;
  color: beige;
  margin-bottom: 5px;
}

form input,
form select {
  width: 300px;
  height: 40px;
  margin-bottom: 15px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  Font-family: Consolas, monospace;
}

form button[type="submit"] {
  width: 150px;
  height: 50px;
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
  background-color: #32d13a;
}

/*boton de inicio*/

.home-button{
  width: 200px;
  height: 75px;
  font-size: 20px;
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}